/* Css for html */
body{
    font-family: 'Poppins', sans-serif; /* body style*/
    background-color: white;
    margin: 0 auto;
}
header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.influencer-class{
    display: flex;  
    width: 1150px;
    justify-content: space-between;
}

nav ul{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 20px;
}
li a:hover{
    background-color:darksalmon;
    padding: 5px 5px;
    border-radius: 4px;
    transition: 0.5s;
    
}
li a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

li i {
    margin-right: 20px;
}
h1{
    font-size: 50px;
}
/* -------------------------------------------
             heading section end
---------------------------------------------- */
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.influ-class{
    display: flex;
    width: 1150px;
    justify-content: space-between;
    
}
#cam:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.dollar{
    font-size: 25px;
}
.button-class{
    background-color:#dc143c;
    padding: 10px 20px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 25px;
}
.arrow{
    padding-left: 10px;
}
/*-----------------------------------------------
                First section end here
------------------------------------------------- */
.logo{
    width: 980px;
    display: flex;    
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
/* --------------------------------------------------
                Second section end
----------------------------------------------------- */
.all-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 10px;
    width: 980px;
}
.popular-collection{
    background-color:white;
    border-radius: 10px;
    margin-right: 25px;
    box-shadow: 0px 0px 20px gray;
}
.popular-collection:hover{
    transform: scale(1.03);
    transition: transform 0.5s;
}

.image img{
    width: 100%;
}
.blogs{
    padding:10px 10px;
}
.line-height{
    line-height: 1.2;
    font-size: 15px;
}
.filled{
    color: yellow;
}
.half{
    color: gray;
}
.anchor{
    margin-top:50px;
    margin-right: 30px;
    float: right;
    color: red;
    text-decoration: none;
    font-size: 20px;
}
/* ----------------------------------------------------
2nd section end
------------------------------------------------------- */
.featured{
    display: flex;
    width: 1030px;
}

.text{
        padding-left: 50px;
}
.btn{
    background-color: #dc143c;
    color: white;
    padding: 10px 30px ;
    font-size: 20px;

}
footer{  
     display: flex;
     align-items: center;
     justify-content: center;
    background-color:rgb(5, 5, 46);
    height: 220px;
    margin-bottom: 5px;
}
.flex{
    display: flex;
    justify-content: center;
}
.footer{
    color: white;
 
}
.social-class{
    color:white;
}
.social-class i{
    margin-left: 15px;
    margin-right: 15px;
}
/* ---------------------------------------
media query for mobile view
--------------------------------------- */
@media only screen and (max-width:688px) {
    
.influencer-class a{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4,1fr);

}
.influencer-class h2{
    font-size: 20px;
}
li a{
    margin-right: 2px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
    align-items:center;

}
.influ-class{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);        
}.logo{
    display: none;
}
.all-blog{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.featured{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    align-items: center;
}
.featured img{
    margin-left: 50px;
}
footer{
    width: 100%;
} 
}



/* ------------------ -------------------
media query for tablet view
--------------------------------------*/

@media only screen and (min-width:688px) and (max-width:992px){

    .influ-class{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);        
    }
    .logo{
        width: 100%;
        display: flex;   
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    .logo img{
        padding-left: 20px;
    }
    .all-blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 100%;
    }
    article{
        margin-left: 50px;
    }
    .anchor{
        margin-top:50px;
        margin-left:300px;
        float: left;
        color: red;
        text-decoration: none;
        font-size: 20px;
    }
    .featured{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        align-items: center;
    }
    .featured img{
        margin-left: 50px;
    }
    footer{
        width: 100%;
    }
    
}


